@using System.Activities.DurableInstancing
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/MyCss.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/animate.css")
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <script src="/Scripts/OwnScripts/Layout.js"></script>
    <style>
        .logo-brand-poster-shop {
            font-family: 'Lalezar', cursive;
            font-size: 40px;
            height: 40px;
            border: 1px solid gray;
            width: 95px;
        }

        .nav-link {
            font-family: 'Merriweather', serif;
            font-size: 17px;
        }
    </style>
</head>
<body>

    <!--Layout for shop-->
    <script src="/Scripts/OwnScripts/Layout.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light container-fluid row bg-light fixed-top ">
        <a class="navbar-brand col-auto " href="../PosterShop/Index"><h1 class="logo-brand-poster-shop">PMN.</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto d-flex justify-content-end col-auto ">

                <li class="nav-item ">
                    <a class="nav-link  " onclick="" href="../PosterShop/Index" id="">Все постеры</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link animated btnSale" style="font-weight: bold;" onclick="" onmouseover="buttonss()" onmouseout="bttonsRemove()" href="../PosterShop/SALE" id="">SALE $</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link animated basketAnimated" href="/PosterShop/shopBasket">Корзина</a>
                </li>
                <li style="border-right: 1px solid grey;"></li>
                <li class="nav-item">
                    <a class="nav-link animated basketAnimated" href="~/Account/AddPosters">Админ</a>
                </li>
                <li>

                    <form class="form-inline col-auto ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>

    </nav>

<div class="mine-body">
    @RenderBody()
    <hr />
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">

                    <h1 class="logo-brand-poster-shop">PMN.</h1>
                </div>

                <div class="col-3">
                    <p class="text-center"> +38 097 87 16 905</p>
                </div>

                <div class="col-3">
                    
                    <p class="text-center"> marchiani22@gmail.com</p>
                    
                    
                </div>
                
                <div class="col-3 text-right">
                    <a href="https://www.instagram.com/postermania17/" class="sociallink" style="    text-decoration: none; color: rgba(0,0,0,0.7); margin-right: 15px;"><i class="fab fa-instagram socialFA" style="font-size: 30px;"></i></a>
                    <a href="https://twitter.com/postermania17" class="sociallink" style="    text-decoration: none; color: rgba(0,0,0,0.7); margin-right: 15px;"><i class="fab fa-twitter socialFA " style="font-size: 30px;"></i></a>
                    <a href="https://ru-ru.facebook.com/postermania17/" class="sociallink" style="text-decoration: none; color: rgba(0,0,0,0.7); margin-right: 50px;"><i class="fab fa-facebook-f socialFA" style="font-size: 30px;"></i></a>

                </div>
            </div>

        </div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/3b7f2bc3c1.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/wow.min.js");
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
