<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/animate.css")
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <script src="/Scripts/OwnScripts/Layout.js"></script>
    <style>
        .logo-brand-poster-shop {
            font-family: 'Lalezar', cursive;
            font-size: 40px;
            height: 40px;
            border: 1px solid gray;
            width: 95px;
        }

        .nav-link {
            font-family: 'Merriweather', serif;
            font-size: 17px;
        }
    </style>
</head>
<body>

    <!--Layout for shop-->
    <script src="/Scripts/OwnScripts/Layout.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light container-fluid row bg-light fixed-top ">
        <a class="navbar-brand col-auto " href="../PosterShop/Index"><h1 class="logo-brand-poster-shop">PMN.</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto d-flex justify-content-end col-auto ">
                @*<li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown" onclick="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Постеры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="#" id="">Супергерои</a>
                        <a class="dropdown-item " href="#" id="">Фильмы</a>
                        <div class="dropdown-divider " id=""></div>
                        <a class="dropdown-item " href="#" id="">Для дома</a>
                    </div>
                </li>*@
                <li class="nav-item ">
                    <a class="nav-link  " onclick="" href="../PosterShop/case_for_phone" id="">Чехлы для телефона</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link   " sssss href="../PosterShop/T_shirts" id="">Футболки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link animated btnSale   " onclick="" onmouseover="buttonss()" onmouseout="bttonsRemove()" style="color: fuchsia" href="../PosterShop/SALE" id="">SALE $</a>
                </li>
                <li style="border-right: 1px solid grey;"></li>
                <li class="nav-item">
                    <a class="nav-link animated basketAnimated" href="/PosterShop/shopBasket">Baskets</a>
                </li>
                <li>

                    <form class="form-inline col-auto ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>

    </nav>

    <div class="mine-body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
