@model Shop.Models.ShopModel.IndexViewModel
@using Shop.Helpers
@{
    ViewBag.Title = "Poster Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("/Content/MyCss.css")
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 col-sm-4  bg-light left-menu" >
            <div class="category-wrap ">
                <h3 >Категории постеров</h3>


                <div class="">
                    <ul class="">
                        @foreach (var b in Model.Categories)
                        {
                            <li class="nav-item"><span><a href="../Categori_for_poster/@b.name">@b.name</a></span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        

        <ul class="posters col-lg-10 col-md-9 col-sm-8 row">
            @foreach (var p in Model.Products)
            {
                <li class="product col-lg-3 col-md-4 col-sm-6 " style="margin-top: 30px;">
                    <img src="@p.srcImg" alt="" class="img-product d-block  m-auto" />
                    <h4 class="heading text-center">@p.heading</h4>
                    <p class="Categori text-center">@p.Categories.name</p>
                    <h4 class="price text-center">@p.Price</h4>
                    <a href="/PosterShop/AddProduxtToDatabase/@p.id">Description</a>
                </li>
            }



        </ul>
        <div class="btn-group offset-2 row">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>

    </div>
</div>




