
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutForShop</title>
</head>
<body>
@model Shop.Models.ShopModel.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Shop.Helpers
@Styles.Render("~/Content/MyCss.css");



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 col-sm-4 left-menu bg-light">
            <div class="category-wrap ">
                <h3>Категории постеров</h3>


                <div class="">
                    <ul class="">
                        @foreach (var b in Model.Categories)
                        {
                            <li class="nav-item"><a href="../Categori_for_poster/@b.name">@b.name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <ul class="posters col-lg-10 col-md-9 col-sm-8 row">
            @foreach (var p in Model.Products)
            {
                <li class="product col-lg-3 col-md-4 col-sm-6 " style="margin-top: 30px;">
                    <img src="@p.srcImg" alt="" class="img-product d-block  m-auto" />
                    <h4 class="heading text-center">@p.heading</h4>
                    <p class="Categori text-center">@p.Categories.name</p>
                    <h4 class="price text-center">@p.Price</h4>
                    <a href="/PosterShop/AddProduxtToDatabase/@p.id">Description</a>
                </li>
            }



        </ul>

        <div class="btn-group offset-2 row">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
