
<div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1" name="size">
        <option value="A0"><bold>А0</bold> – 841х1189</option>
        <option value="A1"><bold>А1</bold> – 594х841</option>
        <option value="A2"><bold>А2</bold> – 420х594</option>
        <option value="A3" selected><bold>А3</bold> – 297х420</option>
        <option value="A4"><bold>А4</bold> – 210х297</option>
    </select>
</div>
<button type="submit" class="btn btn-success">Добавить в карзину</button>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/animate.css")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/bundles/bootstrap")
